@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* fonts */
  --font-sans: "Inter", "sans-serif";
  --font-mono: "JetBrains Mono", "monospace";

  /* theme variables */
  --color-brand: var(--color-brand);
  --color-bg-app: var(--bg-app);
  --color-bg-surface: var(--bg-surface);
  --color-fg-primary: var(--fg-primary);
  --color-fg-muted: var(--fg-muted);
  --color-border-default: var(--border-default);
}

/* catpuccin colours */
:root {
  /* Brand - Peach */
  --color-brand: #fe640b;

  /* Catppuccin Latte (Light) */
  --bg-app: #eff1f5;
  /* Base */
  --bg-surface: #e6e9ef;
  /* Mantle */
  --fg-primary: #4c4f69;
  /* Text */
  --fg-muted: #8c8fa1;
  /* Overlay1 */
  --border-default: #ccd0da;
  /* Surface0 */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Brand - Peach */
    --color-brand: #fe640b;
    ;

    /* Catppuccin Mocha (Dark) */
    --bg-app: #1e1e2e;
    /* Base */
    --bg-surface: #181825;
    /* Mantle */
    --fg-primary: #cdd6f4;
    /* Text */
    --fg-muted: #7f849c;
    /* Overlay1 */
    --border-default: #313244;
    /* Surface0 */
  }
}

body {
  background-color: var(--bg-app);
  color: var(--fg-primary);
  transition: background-color 0.3s, color 0.3s;
}

/* text uses theme colors */
.prose {
  --tw-prose-body: var(--fg-primary);
  --tw-prose-headings: var(--fg-primary);
  --tw-prose-lead: var(--fg-muted);
  --tw-prose-links: var(--color-brand);
  --tw-prose-bold: var(--fg-primary);
  --tw-prose-counters: var(--fg-muted);
  --tw-prose-bullets: var(--fg-muted);
  --tw-prose-hr: var(--border-default);
  --tw-prose-quotes: var(--fg-primary);
  --tw-prose-quote-borders: var(--border-default);
  --tw-prose-captions: var(--fg-muted);
  --tw-prose-code: var(--color-brand);
  --tw-prose-pre-code: var(--fg-primary);
  --tw-prose-pre-bg: var(--bg-app);
  --tw-prose-th-borders: var(--border-default);
  --tw-prose-td-borders: var(--border-default);
}

/* CodeMirror uses theme variables */
#editor {
  height: 100%;
  background-color: var(--bg-app);
}

.cm-editor {
  height: 100%;
}

.cm-scroller {
  overflow: auto;
}

.cm-static-code {
  border: 1px solid var(--border-default);
  border-radius: 6px;
  overflow: hidden;
  background-color: var(--bg-app);
}